:root {
  --primary: #0034ff;
  --grey: #888;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 1.7em;
  font-size: 17px;
}

.logo a{
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  margin-bottom: 50px;
}

.header nav {
  text-align: right;
}

.header nav a {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
}

.header .logo,
.header nav {
  flex-grow: 1;
}

.header .photo {
  border-radius: 100%;
  max-width: 74px;
  float: left;
  margin: -4px 30px 0 0;
}

.header .tagline {
  color: var(--grey);
  margin-top: 0px;
}

.header h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.container {
  max-width: 800px;
  min-width: 300px;
}

.wrapper {
  margin: 0 auto;
  padding: 60px 30px 30px 30px;
}

.posts {
  margin: 60px 0 30px 0;
  font-size: 0.9em;
  line-height: 1.6rem;
}
.posts .title {
  margin: 0;
}

.posts .date {
  color: var(--grey);
  flex: 10%;
}

.posts .date .day {
  font-size: 1.5rem;
}

.posts .date .year {
  font-size: 0.875rem;
}

.posts .body {
  flex: 70%;
}

.posts .post {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}
.posts .post:hover {
  background: #fafafa;
}

.posts .title a {
  text-decoration: none;
}

.posts .body a {
  font-size: 1.2rem;
}

.post_header .title {
  margin: 0;
}
/* 
.posts {
    font-size: .9em;
    line-height: 1.6em;
    margin: 60px 0 30px 0;
    padding: 0;
}
    .posts .post {
        display: flex;
        padding: 30px 0;
        border-bottom: 1px solid #eee;
    }
        .posts .post:hover {
            background: #fafafa;
        }
    .posts .date {
        flex: 10%;
        color: var(--grey);
    }
    .posts .date .year {
        color: var(--grey);
        font-size: 0.875em;
    }
    .posts .date .day {
        font-size: 1.5em;
        margin-bottom: 5px;
    }
    .posts .body {
        flex: 70%;
    }
    .posts .title {
        margin: 0;
    }
        .posts .title a {
            text-decoration: none;
        }
    .posts .domain {
        color: var(--grey);
        font-size: 0.875em;
    }
    .posts .desc {
        margin-top: 10px;
    }
    .post-header {
        margin-bottom: 30px;
    }
    .post-header .date {
        margin: 0;
        color: var(--grey);
    }
        .post-header .title {
            margin: 0;
        } */

img {
  max-width: 100%;
  border-radius: 1%;
}

figure {
    margin: 30px 0 30px 0;
    display: block;
    text-align: center;
}

figure figcaption {
  font-size: .775em;
  line-height: .775em;
  margin: 0;
}

hr{
  margin:0px;
  /* color: var(--grey);
  /* background: var(--grey); */
  /* height:10px; */ 
  /* border:5px; */
  border-top: 1px solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.5em;
  margin: 45px 0 20px 0;
}

h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

.footer {
  text-align: center;
  color: var(--grey);
  margin: 30px 0;
}

@media (max-width: 670px) {
  .wrap {
      padding: 15px;
  }
  .content {
      margin: 0;
  }
}

@media (max-width: 575px) {
  .header {
      margin: 0 0 15px 0;
  }
  .header nav {
      display: block;
      text-align: left;
      margin-top: 30px;
  }
  .header nav a {
      margin: 0 15px 0 0;
  }
  .header {
      display: block;
  }
}

@media (max-width: 350px) {
  .header .photo {
      float: none;
      display: block;
      margin-bottom: 15px;
  }

  .posts .date {
      margin-bottom: 5px;
  }
  .posts .post {
      display: block;
  }
}